 .dottedBorder {
 	border: 2px dotted black;
 }

 .dinoCard {
 	max-width: 30%;
 	min-height: 260px;
 }

 .dinoCard img {
	max-width: 100px;
 }

 #dinosaurs .dinoCard {
 	background-color: lightblue;
 }

 #dinosaurs .row:nth-of-type(2n) .dinoCard:nth-of-type(2n) {
 	background-color: goldenrod;
 } 

 #dinosaurs .row:nth-of-type(2n + 1) .dinoCard:nth-of-type(2n + 1) {
 	background-color: goldenrod;
 }